#profileForm input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

#profileForm .picture-src {
    width: 100%;
}

.pn-list-h{
    position: relative;
    display: flex;
    min-height: 80px;
    padding-right: 50px;
}

.pn-list-h>.pn-list-icon {
    margin: auto 10px;
}

.pn-list-h>.pn-list-icon>img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.pn-list-h>.account-info>.display-date {
    font-weight: normal;
    font-size: 1.3rem;
}

#opHistory li{
	border-bottom: none;
}